body {
    background-color: #AAA;
}

#header {
    font-size: 20pt;
}

#messanger {
    display: none;
}

#overlay {
    display: block;
}

#overlay .alert {
    display: none;
}

#others {
    border-right: black solid 1px;
}

#history {
}

#enter {
    border-top: black solid 1px;
}

#logout {
    display: none;
}