body {
    background-color: #AAA;
    padding-bottom: 70px;
}

#header {
    font-size: 22pt;
}

#me {
    font-size: 22pt;
    display: none;
}

#messanger {
    display: none;
}

#overlay {
    display: block;
}

#overlay .alert {
    display: none;
    margin: 0;
}

#others {
}

#history {
}

#enter {
    display: none;
}

#logout-form {
    display: none;
}

.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}