<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Desktop client</title>
    <link rel="stylesheet" href="/css/desktop.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="#">Lets talk</a></li>
                    <li id="me"><a href="#"></a></li>
                </ul>
                <form id="auth-form" action="/login" method="POST" class="navbar-form navbar-left">
                    <div class="form-group">
                        <label for="nickname">Nickname:</label>
                        <input id="nickname" name="nickname" type="text" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                <form id="logout-form" action="/logout" method="GET" class="navbar-form navbar-left">
                    <button type="submit" class="btn btn-default">Logout</button>
                </form>
                <ul class="nav navbar-nav" id="overlay">
                    <li class="alert"></li>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div id="messanger" class="row">

            <div id="sidebar" class="col-md-2 sticky">
                <div class="list-group sidebar-module" id="others"></div>
            </div>

            <div class="container col-md-9">
                <div id="history">
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div id="enter" class="container-fluid">
            <form id="send-form" action="/send" method="POST" class="navbar-form navbar-left">
                <div class="form-group">
                    <label for="message">Message:</label>
                    <input id="message" name="message" type="text" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>
    </nav>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/desktop.js"></script>
</body>
</html>